Importing the Libraries:

In [2]:
import pandas as pd
import numpy as np

Loading the File:

In [3]:
df = pd.read_excel("C:/Users/Admin/Downloads/Final Project/Sentimental_DataAnalysis_Uncleaned_Data.xlsx")

Basic Inspection:

In [4]:
df.shape

(732, 15)

In [5]:
df.size

10980

In [6]:
df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20,40,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8,15,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12,25,Australia,2023,1,15,19

In [7]:
df.tail()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
727,728,732,Collaborating on a science project that receiv...,Happy,2017-08-18 18:20:00,ScienceProjectSuccessHighSchool,Facebook,#ScienceFairWinner #HighSchoolScience,20,39,UK,2017,8,18,18
728,729,733,Attending a surprise birthday party organized ...,Happy,2018-06-22 14:15:00,BirthdayPartyJoyHighSchool,Instagram,#SurpriseCelebration #HighSchoolFriendship,25,48,USA,2018,6,22,14
729,730,734,Successfully fundraising for a school charity ...,Happy,2019-04-05 17:30:00,CharityFundraisingTriumphHighSchool,Twitter,#CommunityGiving #HighSchoolPhilanthropy,22,42,Canada,2019,4,5,17
730,731,735,"Participating in a multicultural festival, cel...",Happy,2020-02-29 20:45:00,MulticulturalFestivalJoyHighSchool,Facebook,#CulturalCelebration #HighSchoolUnity,21,43,UK,2020,2,29,20
731,732,736,Organizing a virtual talent show during challe...,Happy,2020-11-15 15:15:00,VirtualTalentShowSuccessHighSchool,Instagram,#VirtualEntertainment #HighSchoolPositivity,24,47,USA,2020,11,15,15

In [8]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Text', 'Sentiment', 'Timestamp', 'User',
       'Platform', 'Hashtags', 'Retweets', 'Likes', 'Country', 'Year', 'Month',
       'Day', 'Hour'],
      dtype='object')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Index      732 non-null    int64
 1   Text       732 non-null    object
 2   Sentiment  732 non-null    object
 3   Timestamp  732 non-null    datetime64[ns]
 4   User       732 non-null    object
 5   Platform   732 non-null    object
 6   Hashtags   732 non-null    object
 7   Retweets   732 non-null    int64
 8   Likes      732 non-null    int64
 9   Country    732 non-null    object
 10  Year       732 non-null    int64
 11  Month      732 non-null    int64
 12  Day        732 non-null    int64
 13  Hour       732 non-null    int64
dtypes: datetime64[ns](1), int64(7), object(6)
memory usage: 80.2+ KB

In [10]:
df.describe()

,Unnamed: 0.1,Unnamed: 0,Timestamp,Retweets,Likes,Year,Month,Day,Hour
count,732.000000,732.000000,732,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000
mean,366.464481,369.740437,2020-12-08 21:37:38.196721408,21.508197,42.901639,2020.471311,6.122951,15.497268,15.521858
min,0.000000,0.000000,2010-05-15 15:30:00,5.000000,10.000000,2010.000000,1.000000,1.000000,0.000000
25%,183.750000,185.750000,2019-03-08 17:27:30,17.750000,34.750000,2019.000000,3.000000,9.000000,13.000000
50%,366.500000,370.500000,2021-09-20 14:30:00,22.000000,43.000000,2021.000000,6.000000,15.000000,16.000000
75%,549.250000,553.250000,2023-02-26 11:48:45,25.000000,50.000000,2023.000000,9.000000,22.000000,19.000000
max,732.000000,736.000000,2023-10-22 20:45:00,40.000000,80.000000,2023.000000,12.000000,31.000000,23.000000
std,211.513936,212.428936,NaN,7.061286,14.089848,2.802285,3.411763,8.474553,4.113414

Droping the Unwanted Column:

In [11]:
df = df.drop(columns=["Unnamed: 0.1"])

Renaming the Column:

In [12]:
df = df.rename(columns={'Unnamed: 0': 'Index'})

In [13]:
df.head(2)

,Index,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12
1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8

Checking the Nul Values

In [14]:
df.isnull().sum()

Index        0
Text         0
Sentiment    0
Timestamp    0
User         0
Platform     0
Hashtags     0
Retweets     0
Likes        0
Country      0
Year         0
Month        0
Day          0
Hour         0
dtype: int64

Checking the Duplicates:

In [15]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
727    False
728    False
729    False
730    False
731    False
Length: 732, dtype: bool

Creating a New Dataset with Cleaned Data:

In [ ]:
df.to_excel("SMSA_Cleaned_Data.xlsx",index=False)